@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 300px;
  background-color: #000;
  color: #fff;
  font: 400 16px/25px "Merriweather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:hover,
a:visited {
  color: #23c5b0;
}

main {
  width: 96%;
  max-width: 600px;
  margin: 2% auto;
}

nav header {
  height: 50px;
  line-height: 50px;
}

nav header img {
  height: 50px;
  font-size: 30px;
  pointer-events: none;
  float: left;
  margin-right: 10px;
}

nav ul {
  clear: both;
  float: left;
  margin: 20px 0;
  padding: 0;
  width: 100%;
  list-style: none outside none;
}

nav li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

.bookmarks {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none outside none;
}

.bookmark {
  margin: 0 0 10px;
  padding: 0;
}

.bookmark.unread a.title,
.bookmark.unread a.title:active,
.bookmark.unread a.title:hover,
.bookmark.unread a.title:visited {
  color: #6923c5;
}

.bookmark a.edit {
  color: #ccc;
  float: right;
  font-size: 12px;
}
