@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font: 400 16px/25px "Merriweather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:hover,
a:visited {
  color: #23c5b0;
}

main {
  width: 96%;
  max-width: 600px;
  margin: 2% auto;
}

nav header {
  height: 50px;
  line-height: 50px;
}

nav header img {
  height: 50px;
  font-size: 30px;
  pointer-events: none;
  float: left;
  margin-right: 10px;
}

nav ul {
  clear: both;
  float: left;
  margin: 20px 0;
  padding: 0;
  width: 100%;
  list-style: none outside none;
}

nav li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

ul.bookmarks {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none outside none;
}

ul.bookmarks li {
  margin: 0 0 10px;
  padding: 0;
}

ul.bookmarks li.unread a,
ul.bookmarks li.unread a:active,
ul.bookmarks li.unread a:hover,
ul.bookmarks li.unread a:visited {
  color: #6923c5;
}
