@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* Common */

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 300px;
  background-color: #000;
  color: #fff;
  font: 400 16px/25px "Merriweather";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:active,
a:visited {
  color: #23c5b0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #23c5b0;
  text-decoration: underline;
}

/* Layout */

section {
  width: 96%;
  max-width: 600px;
  margin: 2% auto;
}

header {
  height: 50px;
  line-height: 50px;
  margin: 0 0 20px;
}

header img {
  height: 50px;
  font-size: 30px;
  pointer-events: none;
  float: left;
  margin-right: 10px;
}

nav {
  display: inline;
  float: left;
  line-height: 50px;
}

nav ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

nav li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

nav a.active,
nav a.active:active,
nav a.active:visited,
nav a.active:focus,
nav a.active:hover {
  color: #fff
}

/* Bookmarks */

.bookmarks {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none outside none;
}

.bookmark {
  margin: 0 0 15px;
  padding: 0;
  width: 100%;
  float: left;
}

.bookmark a.title {
  text-align: left;
  width: 90%;
  padding: 0;
  display: block;
  float: left;
}

.bookmark.read a.title,
.bookmark.read a.title:active,
.bookmark.read a.title:focus,
.bookmark.read a.title:hover,
.bookmark.read a.title:visited {
  color: #9f6ae4;
}

.bookmark a.edit {
  color: #ccc;
  font-size: 12px;
  text-align: right;
  width: 10%;
  padding: 0;
  display: block;
  float: right;
}
