@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font: 400 16px/25px "Merriweather";
}

a,
a:active,
a:hover,
a:visited {
  color: #23c5b0;
}

.App-header li a,
.App-header li a:active,
.App-header li a:hover,
.App-header li a:visited {
  color: #fff;  
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 50px;
  margin-top: 10px;
  font-size: 30px;
  pointer-events: none;
  float: left;
  margin-right: 10px;
}

.App-header {
  background-color: #23c5b0;
  height: 70px;
  line-height: 70px;
  color: white;
}

.App-header ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none outside none;
}

.App-header li {
  float: left;
  margin: 0 20px 20px 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.App-main {
  text-align: left;
  padding: 30px 20px;
}

.App-main h1 {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
